<app-header></app-header>
<h3>Forms</h3>
<form #basicForm="ngForm" (ngSubmit)="getData(basicForm.value)">
    <input type="text" ngModel name="user" placeholder="Enter Username"/>
    <br/>
    <br />
    <input type="email" ngModel name="email" placeholder="Enter User Email"/>
    <br/>
    <br />
    <input type="password" ngModel name="password" placeholder="Enter User Password"/>
    <br />
    <br />
    <button>Submit</button>
</form>
<ul>
    <li>{{userData.user}}</li>
    <li>{{userData.email}}</li>
    <li>{{userData.password}}</li>
</ul>
<button (click) = "toggle()">Toggle</button>
<h4 *ngIf="display">Heading</h4>
<h1>Welcome, Angular {{title}}</h1>
<p>My name is {{name}}</p>
<p>Data is {{data}}</p>
<ng-template [ngIf]="color === 'red'">
    <h1 style="color: red;">Red Color</h1>
</ng-template>
<div [ngSwitch]="color">
    <h1 *ngSwitchCase="'red'" style="color: red;">Red Color</h1>
    <h1 *ngSwitchCase="'green'" style="color: green;">Red Color</h1>
    <h1 *ngSwitchDefault>Unknown Color</h1>
</div>
<h2 style="color: aqua;">User deatils</h2>
<table border style="border-color :brown;">
    <tr style="color: rebeccapurple;">
        <th>Name</th>
        <th>Email</th>
        <th>Phone</th>
        <th>Social Media</th>
    </tr>
    <tr *ngFor="let item of deatils" style="color: cadetblue; text-align: center;">
        <td>{{item.name}}</td>
        <td>{{item.email}}</td>
        <td>{{item.phone}}</td>
        <td>{{item.social}}</td>
    </tr>
</table>
<ul *ngFor="let item of deatils">
    <li>Name : {{item.name}}</li>
    <li>Email : {{item.email}}</li>
    <li>Phone : {{item.phone}}</li>
    <ul *ngFor="let account of item.social">
        <li>{{account}}</li>
    </ul>
</ul>
<h3>Style Binding</h3>
<h4 [style.color]="color" [style.backgroundColor]="bgColor">{{name}}</h4>
<button (click) = 'updateColor()'>Update Color</button>
<p></p>